run = "npm start"
entrypoint = "server.js"
hidden = [".config", "package-lock.json", "node_modules"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[env]
NODE_ENV = "production"
